@font-face {
			font-family: "exoThin";
			src: url("../fonts/exo-thin-webfont.woff2") format("woff2"),
				 url("../fonts/exo-thin-webfont.woff") format("woff");
			font-style: normal;
			font-weight: normal;
	}

@font-face {
			font-family: "exoMedium";
			src: url("../fonts/exo-medium-webfont.woff2") format("woff2"),
				 url("../fonts/exo-medium-webfont.woff") format("woff");
			font-style: normal;
			font-weight: normal;
	}

@font-face {
			font-family: "exoRegular";
			src: url("../fonts/exo-regular-webfont.woff2") format("woff2"),
				 url("../fonts/exo-regular-webfont.woff") format("woff");
			font-style: normal;
			font-weight: normal;
	}

@font-face {
			font-family: "exoItalic";
			src: url("../fonts/exo-italic-webfont.woff2") format("woff2"),
				 url("../fonts/exo-italic-webfont.woff") format("woff");
			font-style: normal;
			font-weight: normal;
	}