@import 'normalize'
@import 'vars'
@import 'fonts'

html
	width: 100%
	height: 100%
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

*,
*::before,
*::after
	-webkit-box-sizing: inherit 
	-moz-box-sizing: inherit 
	box-sizing: inherit
	
h2, h3, h4, h5, h6
	margin: 0
	padding: 0
	
a
	text-decoration: none
	
ul
	padding: 0
	margin: 0
	li
		list-style: none 
	
body
	font-family: "exoMedium", sans-serif 
	background-color: $main
	 
	
.wrapper
	width: 1440px
	min-height: 100%
	position: relative
	overflow: hidden
	text-align: center
	margin: 0 auto
	
.tal
	text-align: left
	
// START HEADER
.header
	width: 100%
	min-height: 100vh
	position: relative
	background: url('../img/header.png') center center no-repeat
	-webkit-background-size: cover 
	  -o-background-size: cover 
	  background-size: cover
	
	&__title
		font-family: "exoThin", sans-serif
		font-size: 60px
		font-weight: 200
		
	&__video
		width: 60px
		height: 60px
		-webkit-border-radius: 50% 
		border-radius: 50% 
		background-color: $dark-grey
		margin: 0 auto
		position: relative
		margin-bottom: 38px
		 
		&:after
			content: ""
			position: absolute
			left: 23px
			bottom: 18px
			border: 12px solid transparent
			border-left: 20px solid white
			
		&:hover
			background-color: darken($dark-grey, 10%)  
		
	&__info
		font-family: "exoRegular", sans-serif
		font-size: 14px
		margin-top: 18px 
		
.header-wrap
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	
	width: 750px
	height: 380px
	margin: auto
	
		 

// END HEADER

// BUTTONS
.btn
	display: inline-block
	min-width: 190px
	font-size: 16px
	padding: 15px 50px 
	-webkit-border-radius: 3px 
	border-radius: 3px 
	background-color: $pink
	color: $main
	font-family: "exoRegular", sans-serif
	text-transform: uppercase
	letter-spacing: 0.3em
	
	&:hover
		background-color: darken($pink, 10%)  


// END BUTTONS

.dots
	width: 30px
	
	ul
		width: 30px
		li
			display: inline-block
			width: 4px
			height: 4px
			background-color: $pink


// SECTIONS
.section
	width: 1440px
	font-size: 0
	&:nth-child(odd)
		background-color: $light-grey
		
	&__feat
		text-transform: uppercase
		color: $pink
		letter-spacing: 0.2em
		margin-bottom: 15px
		
	&__title
		font-family: "exoMedium", sans-serif
		font-size: 40px
		font-weight: 100
		margin-bottom: 35px
	
	&__par
		line-height: 1.6
			
	
.section-left
	display: inline-block
	width: 870px
	min-height: 725px
	font-size: 16px
	position: relative

.section-wrap
	width: 580px
	height: 380px
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	margin: auto 

.section-right
	display: inline-block
	width: 570px
	min-height: 725px
	
	background-color: $grey
	position: relative
	
	
	&:after
		content: ''
		position: absolute
		right: 0
		bottom: 0
		border: 285px solid transparent
		border-right: 285px solid $pink
		border-bottom: 285px solid $pink   
	

	
// END SECTIONS

