@import 'normalize'
@import 'vars'
@import 'fonts'

html
	width: 100%
	height: 100%
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

*,
*::before,
*::after
	-webkit-box-sizing: inherit 
	-moz-box-sizing: inherit 
	box-sizing: inherit
	
h2, h3, h4, h5, h6
	margin: 0
	padding: 0
	
a
	text-decoration: none
	
ul
	padding: 0
	margin: 0
	li
		list-style: none 
	
body
	font-family: "exoMedium", sans-serif 
	background-color: $main
	 
	
.wrapper
	width: 1440px
	min-height: 100%
	position: relative
	overflow: hidden
	text-align: center
	margin: 0 auto
	
.tal
	text-align: left
	
.pt
	padding-top: 135px 
	
.white
	color: $main
	
// START HEADER
.header
	width: 100%
	min-height: 100vh
	position: relative
	background: url('../img/header.png') center center no-repeat
	-webkit-background-size: cover 
	  -o-background-size: cover 
	  background-size: cover
	
	&__title
		font-family: "exoThin", sans-serif
		font-size: 60px
		font-weight: 200
		
	&__video
		width: 60px
		height: 60px
		-webkit-border-radius: 50% 
		border-radius: 50% 
		background-color: $dark-grey
		margin: 0 auto
		position: relative
		margin-bottom: 38px
		 
		&:after
			content: ""
			position: absolute
			left: 23px
			bottom: 18px
			border: 12px solid transparent
			border-left: 20px solid white
			
		&:hover
			background-color: darken($dark-grey, 10%)  
		
	&__info
		font-family: "exoRegular", sans-serif
		font-size: 14px
		margin-top: 18px 
		
.header-wrap
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	
	width: 750px
	height: 380px
	margin: auto
		 

// END HEADER

// BUTTONS
.btn
	display: inline-block
	width: 190px
	font-size: 16px
	padding: 15px 50px 
	-webkit-border-radius: 3px 
	border-radius: 3px 
	background-color: $pink
	color: $main
	font-family: "exoRegular", sans-serif
	text-transform: uppercase
	letter-spacing: 0.3em
	
	&:hover
		background-color: darken($pink, 10%)  

.header--btn
	width: 205px

// END BUTTONS

.dots
	width: 30px
	
	ul
		width: 30px
		li
			display: inline-block
			width: 4px
			height: 4px
			background-color: $pink


// SECTIONS
.first
	min-height: 725px

.section
	width: 1440px

	&:nth-child(odd)
		background-color: $light-grey
		
	&__feat
		text-transform: uppercase
		color: $pink
		letter-spacing: 0.2em
		margin-bottom: 15px
		
	&__title
		font-family: "exoMedium", sans-serif
		font-size: 40px
		font-weight: 100
		margin-bottom: 35px
	
	&__par
		line-height: 1.6
		
	&__info
		color: $light-grey
		padding-bottom: 80px
			
	
.section-left
	display: inline-block
	width: 870px
	min-height: 725px
	font-size: 16px
	position: relative
	float: left

.section-wrap
	width: 580px
	height: 380px
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	margin: auto 

.section-right
	display: inline-block
	width: 570px
	min-height: 725px
	float: right
	
	background-color: $grey
	position: relative
	
	
	&:after
		content: ''
		position: absolute
		right: 0
		bottom: 0
		border: 285px solid transparent
		border-right: 285px solid $light-pink
		border-bottom: 285px solid $light-pink  
	

.feature
	min-height: 655px
	background: url('../img/bg_feat.png') center no-repeat 
	
.features-wrap
	width: 1140px
	margin: 0 auto
	display: flex
	-webkit-flex-direction: row 
	-ms-flex-direction: row 
	flex-direction: row
	-webkit-flex-wrap: nowrap 
	 -ms-flex-wrap: nowrap 
	 flex-wrap: nowrap
	-webkit-justify-content: space-between 
	  justify-content: space-between   
	
.feature-col
	width: 33.33%
	
	
	&__img
		width: 66px
		height: 66px
		-webkit-border-radius: 50% 
		border-radius: 50%
		background-color: $main
		margin: 0 auto
		margin-bottom: 30px
		
	&__par
		width: 360px
	
.img1
	background: url('../img/picture.png') center no-repeat

.img2
	background: url('../img/airplane.png') center no-repeat 

.img3
	background: url('../img/bulb.png') center no-repeat 

.third
	min-height: 550px

.third-left
	width: 50%
	min-height: 550px
	position: relative
	background: url('../img/macbook.png') center no-repeat 
	float: left
	
	&:after
		content: ''
		position: absolute
		left: 0
		bottom: 0
		border: 285px solid transparent
		border-left: 305px solid $light-pink
		border-bottom: 305px solid $light-pink
		z-index: -1 
	
.third-right
	width: 50%
	min-height: 550px
	float: right
	

.third-wrap
	width: 500px

.review
	width: 1440px
	height: 650px
	background: url('../img/Group4.png') center no-repeat

.review-wrap
	width: 1140px
	margin: 0 auto
	display: flex
	-webkit-flex-direction: row 
	-ms-flex-direction: row 
	flex-direction: row
	-webkit-flex-wrap: wrap 
	 -ms-flex-wrap: wrap 
	 flex-wrap: wrap
	-webkit-justify-content: space-around 
	  justify-content: space-around  
	
.review-col
	width: 33.33%
	padding-top: 110px
	
	&__img
		width: 78px
		height: 78px
		margin: 0 auto
		background-color: #4e4e5e
		background: url('../img/face.jpeg') center no-repeat
		-webkit-background-size: cover 
		 -o-background-size: cover 
		 background-size: cover  
		margin-bottom: 25px 
		
	&__name
		display: block
		font-size: 22px
		color: $main
		margin-bottom: 10px
	
	&__subname
		display: block
		color: $pink
		
	&__par
		width: 360px
		font-family: "exoItalic", sans-serif
		color: #a8a9ac
		margin-bottom: 100px 


.logos
	width: 975px
	height: 85px
	ul
		li
			display: inline-block
			width: 120px
			height: 85px
			margin-right: 70px
			

.logo

	&__img1
		background-image: url('../img/Logos.png') 
		background-position: 0
		
	&__img2
		background-image: url('../img/Logos.png') 
		background-position: 745px 
		
	&__img3
		background-image: url('../img/Logos.png') 
		background-position: 530px
		
	&__img4
		background-image: url('../img/Logos.png') 
		background-position: 320px 0
		
	&__img5
		background-image: url('../img/Logos.png') 
		background-position: 120px
		
// SIX
.six-wrap
	width: 650px
	margin: 0 auto
	padding-top: 110px

.browser
	width: 790px
	height: 365px
	margin: 0 auto
	background: url('../img/browser.png') center no-repeat 

// END SIX

// SEVEN
.form
	position: relative
	padding-top: 65px
	padding-bottom: 50px

.form-section
	background-color: $purple !important

.form-wrap
	width: 1140px
	margin: 0 auto
	padding-top: 100px
	
.inputs
	width: 260px
	padding: 15px 30px
	-webkit-border-radius: 3px 
	border-radius: 3px 
	color: $light-grey
	margin-right: 25px
	
	font-family: "exoRegular", sans-serif 
	background-color: #464c77  
	
	::-webkit-input-placeholder
		color: $light-grey
		
	::-moz-placeholder 
		color: $light-grey
		
	:-moz-placeholder
		 color: $light-grey
		 
	:-ms-input-placeholder
		color: $light-grey

.submit
	display: inline-block
	width: 260px

.trial
	color: $light-grey
	position: absolute
	top: 0
	right: 35px
	
	&:after
		content: ''
		display: inline-block
		position: absolute
		top: 0
		left: -30px
		width: 55px
		height: 40px
		background: url(../img/arrow.png) center no-repeat
	


// END SEVEN

// END SECTIONS

//FOOTER
.footer


.footer-wrap
	padding-top: 95px
	padding-bottom: 100px
	width: 960px
	margin-top: 0
	margin-bottom: 0
	margin-left: 150px  
	display: flex
	-webkit-flex-direction: row 
	-ms-flex-direction: row 
	flex-direction: row 
	-webkit-flex-wrap: nowrap 
	-ms-flex-wrap: nowrap 
	flex-wrap: nowrap
	-webkit-justify-content: space-between 
	 justify-content: space-between  
	
.footer-col
	width: 25%
			
				
	&:nth-child(2)
		padding-left: 65px

	&:nth-child(4)
		width: 265px
	

	&__title
		font-size: 26px
		font-weight: 200
		padding-bottom: 25px
		position: relative
				
	&__info
		font-size: 14px
		color: #282828
		line-height: 1.8  
		
	&__list
		font-size: 14px
		color: #282828
		line-height: 1.8
		
	&__subscribe
		width: 265px
		font-size: 0 

.ex
	&:after
		content: ''
		position: absolute
		width: 50px
		height: 50px
		top: -8px
		right: 115px
		background: url('../img/ex.png') no-repeat
			
	
.footer-email
	display: inline-block
	width: 215px
	margin: 0
	background-color: #f6f6f6
	font-size: 14px
	vertical-align: middle
	
	
.footer-btn
	display: inline-block
	width: 50px
	height: 50px
	padding: 0
	margin: 0
	font-size: 14px
	vertical-align: middle
	position: relative
	
	&:after
		content: ''
		position: absolute
		width: 28px
		height: 28px
		top: 13px
		left: 13px
		background: url(../img/10.png) no-repeat 
		

.social
	width: 180px
	height: 22px
	display: inline-block
	margin-top: 20px	

	&__img
		display: inline-block
		width: 20px
		height: 20px
		background: url(../img/social.png)
		margin-right: 20px
		
		&:nth-child(1)
			background-position: 0 0
			&:hover
				background-color: $dribbble  
		
		&:nth-child(2)
			background-position: 108px 0
			&:hover
				background-color: $fb 
			
		&:nth-child(3)
			background-position: 217px 0
			&:hover
				background-color: $google   

		&:nth-child(4)
			background-position: 173px 0
			&:hover
				background-color: $twitter 

// END FOOTER

